/*

  GLOBAL CONFIGURATIONS

*/

:root {
  --title-color: #212121;
  --primary-color: #34cd79;
  --red-primary: #FF5A5Fbb;
  --blue-primary: #3423CA;
  --dark-primary: #212121;
  --card-color: #ffffff;
  --icon-color: #333;
  --img-size: 260px;
}

* {
  margin: 0;
  padding: 0;
  /*  the fill stay inside the box */
  box-sizing: border-box;
}

html {
  font-family: 'Lato', sans-serif;
  /*  */
}

body {
  background: #f0f0f5;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  font-size: 36px;
  color: var(--title-color);
  margin-bottom: 15px;
}

a {
  text-decoration: none;
}

img {
  width: 200px;
  height: 400px;
}
